<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{> header}}

        <p> About text Here </p>

        {{> footer}}
    </body>
</html>